// colors
$primary-button: #2563eb;
$popup-background: #cbd5e1;
$popup-button1: #eab308;
$popup-button2: #0d9488;
$primary-text-color: #9ca3af;
$secondary_text_color: #374151;
$searchbar_color: #52525b;
$primary_white: #fff

