// $primary-button: #2563eb;
// $popup-background: #cbd5e1;
// $popup-button1: #eab308;
// $popup-button2: #0d9488;
// $primary-text-color: #9ca3af;
// $secondary_text_color: #374151;
// $searchbar_color: #52525b;
// $primary_white: #fff
.sidebar{
  grid-column-start: 0;
  grid-column-end: 2;
  border-right: .3rem solid $searchbar_color;
  min-width: 20rem;
  max-width: 38rem;
  height: calc(100vh - 6.25rem)
}

.list{

  &__wrapper{
    display: flex;
    align-items: center;
    // margin-left: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    // margin-top: .5rem;
    // text-align: center;
    // margin-bottom: 1rem;
    width: 100%;
  }

  &__toggle{
    color: $popup-button2;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    padding-left: 2rem;
    border-radius: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;

    &:hover, &.active {
      color: $popup-button1;
      background-color: $searchbar_color;
      // height: 3rem;
    }
  }

  &__button{
    font-size: 1.6rem;
    margin-left: 1rem;
    font-weight: 800;
  }
}
