.feed{
  grid-column-start: 2;
  grid-column-end: 6;
  background-color: gray;
  place-content: center;
  // justify-content: center;
  // border-right: .3rem solid $searchbar_color;

  &__wrapper{
    margin-left: 1rem;
    margin-right: 1rem;
    // max-width: 70rem;
    // min-width: 25rem;
    background-color: #fff;
  }
}
