.feed{
  grid-column-start: 3;
  grid-column-end: 4;
  // place-items: center;
  background-color: gray;
  // place-items: center;
  place-content: center;

  &__wrapper{
    max-width: 40rem;
    min-width: 25rem;
    background-color: #fff;
  }
}
