.feed{
  grid-column-start: 2;
  grid-column-end: 5;
  // background-color: #1f2937; // same as gray-800
  place-content: center;
  // justify-content: center;
  // border-right: .3rem solid $searchbar_color;

  &__wrapper{
    // margin-left: 2rem;
    // margin-right: 2rem;
    // max-width: 70rem;
    // min-width: 25rem;
    // background-color: #fff;
  }
}
