.customSelect{
  height: 100%;
  position: absolute;
  &__button{
    height: 4rem;
    background-color: $popup-button2;
    width: 15.5rem;
    margin-top: 1rem;
    margin-left: 1.6rem;
    color: white;

    &:hover{
      background-color:$popup-button1;
    }

    &--container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 15.5rem;
      padding-left: 1rem;
      padding-right: 1rem;

    }

    &--innerText{
      display: flex;
      justify-content: center;
      color: white;
      font-weight: 800;
      font-size: 1.6rem;
    }

    &--icon{
      color: white;
    }
  }
}
